.inline-item p span {
  width: 150px;
  display: inline-block;
}


::ng-deep {
  mat-divider {
    padding: 10px 0;
  }
}

.header {
  padding: 10px;
}


.btn-close {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  padding: 5px;
}
.ml-50 {
  margin-left: 50px;
}

.footer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

