<mat-card>
    <div class="header">
        <mat-card-title>Phê duyệt Uỷ quyền</mat-card-title>
        <a class="btn-close" (click)="onClose()">
            <i class="material-icons">close</i>
        </a>
    </div>
    <mat-divider></mat-divider>
    <mat-card-content>
        <form>
            <div class="inline-item">
                <p><span>Chi nhánh</span>{{data.branchname}}</p>
            </div>
            <div class="inline-item">
                <p><span>Người Uỷ quyền</span>{{data.owner}}</p>
            </div>
            <div class="inline-item">
                <p><span>Thành phần</span>{{data.member}}</p>
            </div>
            <div class="inline-item">
                <p><span>Hiệu lực từ</span>{{data.startDate | date: 'dd/MM/yyyy HH:mm:ss' }}</p>
            </div>
            <div class="inline-item">
                <p><span>Hiệu lực đến</span>{{data.endDate | date: 'dd/MM/yyyy HH:mm:ss'}}</p>
            </div>
            <div class="inline-item">
                <p><span>Người nhận</span>{{data.employee}}</p>
            </div>
            <div class="inline-item">
                <p><span>Ghi chú</span>{{data.note}}</p>
            </div>
            <div class="inline-item">
                <p><span>Trạng thái</span>{{data.status}}</p>
            </div>
            <mat-divider></mat-divider>
            <div class="inline-item">
                <p><span>Ngày tạo</span>{{data.createdDate | date: 'dd/MM/yyyy HH:mm:ss'}}</p>
            </div>
            <div class="inline-item">
                <p><span>Người tạo</span>QuangLV</p>
            </div>
        </form>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-footer>
        <div class="footer">
            <button mat-raised-button color="warn" *ngIf="data.status.id === 1">Phê duyệt</button>
            <button mat-raised-button class="ml-50" *ngIf="data.status.id === 1">Từ chối</button>
        </div>
    </mat-card-footer>
</mat-card>